.game {
  color: var(--light-white);
  user-select: none;

}

.game__user {
  color: var(--light-white);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.clk {
  padding: 5px 10px;
}

.clk__active {
  color: var(--success);
}

.name {
  color: #bfbeba;
  text-transform: lowercase;
  font-weight: 500;
}




.controls {
  padding-top: 10px;
  background-color: var(--dark);
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.controls_bottom {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(186, 186, 186, 0.25);
}

@media (min-width: 620px) {
  .controls_bottom {
    height: 300px;
  }
}

.controls_top {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  background-color: var(--dark);
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 5px 0px;
}

#eval {
  width: 30px;
}

.game-controls span {
  padding: 5px 10px;
  margin: 5px 2px;
  cursor: pointer;
}

.game-controls span:hover {
opacity: .7;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* control for small devices */

.m-0 {
  margin: 0;
}

@media (max-width: 620px) {
  .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .controls {
    background-color: var(--bg);
    margin-left: 0;
    width: 100%;
    max-width: 430px;
    flex: 1;
    justify-content: start;
    padding-top: 0;
    margin-bottom: 2rem;

}
  .game-controls {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
  }
  .controls_bottom {

    transition: height 0.3s linear;
  }

}

/*  */

.tab_items {
  position: relative;
  font-size: 13px;
}

.tab_items > div {
  width: calc(100% - 20px);
  visibility: hidden;
}
.tab_items .absolute{
    top: 0;
}
.absolute {
  position: absolute;
}
.tab_active {
  visibility: visible !important;
  /* color: var(--active); */
}

.tab_controls span:hover {
  color: var(--active);
}

.tab_controls span {
  cursor: pointer;
  margin: 0 5px 0 0;
  font-size: 20px;
}

.tab_control_active {
  color: var(--active);
}

.game_info {
  font-size: 16px;
}

.game_info div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.game_info .black {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #222;
  display: inline-block;
  margin: 0 1rem 0 0.2rem;
}

.game_info .white {
  width: 10px;
  height: 10px;
  margin: 0 1rem 0 0.2rem;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
}

.game_info button {
  background-color: var(--gray);
  margin: 0 0.5rem;
  color: #fff;
  border: 2px solid var(--gray);
  padding: 5px;
}

.game_info button:hover {
  opacity: 0.7;
}
