.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
text {
    fill: currentColor;
  
  
  }
  line{
    overflow: hidden;
  }
.w-text{
  color: #fff;
}

