.puzzle button {
  background-color: #333;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--light-white);
  font-weight: bold;
}

.puzzle__top {
  padding: 5px 10px;
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 0 5px;
}
.puzzle__top .material-icons {
  font-size: 32px;
  margin-right: 0.5rem;
}

.puzzle h3 {
  margin: 0.5rem 0;
}

.tool_bar {
  margin: 0 10px 10px 10px;
  display: flex;
  color: var(--muted);
  justify-content: space-between;
}
