.puzzle__info {
  background-color: var(--dark);
  align-self: stretch;
  display: flex;
  color: var(--light-white);
  justify-content: space-between;
  padding-bottom: 10px;
  flex-direction: column;
  overflow: hidden;
}
.puzzle__details {
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.puzzle button {
  background-color: #3d3b39;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--light-white);
  font-weight: bold;
}

.puzzle__info good,
.puzzle__info bad {
  font-size: 32px;
}

.puzzle__top {
  padding: 5px 10px;
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 0.5rem;
  background-color: rgba(255,255,255,.1);
  transition:background-color .2s ease ;
}
.puzzle__top .material-icons {
  font-size: 32px;
  margin-right: .5rem;
}
.puzzle__top span {
  display: block;
}
.good {
  background-color: var(--active);
}
.bad {
  background-color: var(--text-denger);
}
