.practice h2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: var(--light-white);
}
.category__items {
  display: flex;
  flex-wrap: wrap;
}
.category_name {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #5e5e66 !important;
}
.practice__card {
  background: #111116;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  color: var(--light-white);
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 60px;
}
.practice__card::after {
  position: absolute;
  width: 100%;
  content: "";
  height: 5px;
  bottom: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
  background-color: #8338ec;
}
.basic .practice__card {
  justify-content: start;
}
.practice__card:hover {
  background-color: #1d1e22;
}
.practice__card__title {
  font-weight: 500;
}
.practice__categories {
  margin-top: 2rem;
}
.practice_icon {
  width: 50px;
  height: 50px;
  opacity: 0.7;
}

.c0 .practice__card::after {
  background-color: #f99927;
}
.c1 .practice__card::after {
  background-color: #008b8b;
}
.c2 .practice__card::after {
  background-color: #1ec65b;
}
.c3 .practice__card::after {
  background-color: #e83535;
}
.c5 .practice__card::after {
  background-color: #ee9b00;
}
.c4 .practice__card::after {
  background-color: #219ebc;
}
.c6 .practice__card::after {
  background-color: #b5179e;
}
.c8.practice__card::after {
  background-color: #4d194d;
}
/* practice lessons */
.relative {
  position: relative;
}
.arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.lessons_info {
  overflow: hidden;
  background-color: var(--dark);
  align-self: stretch;
  max-height: 430px;
  color: var(--light-white);
  padding-bottom: 10px;
  text-transform: capitalize;
}

.lessons_info good,
.lessons_info bad {
  font-size: 32px;
}

.lessons_info__top {
  padding: 5px 10px;
  display: flex;
  width: 100%;
  align-self: center;

  color: #fff;
  margin-bottom: 0.5rem;
  background-color: var(--active);
}
.lessons_info__top .material-icons {
  font-size: 32px;
  margin-right: 0.5rem;
}
.tile {
  user-select: none;
  cursor: default;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tile ul {
  transition: height 0.3s linear;
  margin: 0 0 0 15px;
  padding: 0;
  list-style: georgian;
}
.tile li {
  cursor: pointer;
  color: #8ab4f8;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding: 5px 0;
}
.colapsed {
  height: 0;
  overflow: hidden;
}

.tile::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  content: "";
  display: inline-block;
}
.tile.active_tile::before {
  background-color: var(--active);
}

/* paginator */

ul {
  list-style-type: none;
}

/* paginator */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 0 0 10px;
}
.page__numbers,
.page__btn {
  color: var(--light-white);
  align-self: stretch;
  padding: 5px 0.8rem;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid rgba(186, 186, 186, 0.25);
}
.page__btn .material-icons {
  font-size: 14px !important;
}

.page__numbers:hover {
  opacity: 0.85;
}
.page__numbers.active_item {
  font-weight: 600;
  border: 1px solid var(--active);
  color: var(--active);
}

.description {
  color: var(--light-white);
  margin: 10px 5px;
  font-size: 14px;
  transition: height 1s linear;
  height: 70px;
  font-weight: 600;
}
