
.board__container {
  width: 100%;
  position: relative;
}

#board {
  overflow: clip;
  border-radius: 8px;
  width: 100%;
  /* width: 400px; */
  min-height: 300px;
}

/* @media (max-width: 620px) {
  #board {
    width: 100%;
    max-width: 400px;
  }
} */

.square_highlight__active{

  box-shadow: inset 0 0 3px 3px var(--success);
}